/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    font-family: Roboto;
}

section {
    padding: 90px 0;
}

footer {
    padding: 40px 0;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

li {
    list-style: none;
}

p , button {
    font-size: 18px;
}

.btn-main {
    padding: 5px 30px;
    border-radius: 7px;
    border: none;
    font-family: Roboto;
    color: white;
    background-color: #3b81f6;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/
h2 {
    font-size: 36px;
}

h3 {
    color: white;
}



li a , p , footer {
    color: #999da5;
}


.some-random-section p {
    color: #77808A;
}

.cta-section p {
    color: #DBE1EC;
}

/******************************************
/* HEADER NAV BAR
/*******************************************/
header {
    background-color: #1F2937; 
    padding: 20px;
}

/* NAV BAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-left-wrapper {
    font-weight: 800;
    font-size: 24px;
    color: white; 
}

.nav-ul {
    display: flex;
    gap: 40px;
}

.nav-ul li a {
    display: inline-block;
}

/******************************************
/* HERO 
/*******************************************/

.hero-section {
    color: white;
    background-color: #1F2937; 
}

.hero-wrapper {
    display: flex;
    height: 270px;
}

.hero-content-left , .hero-content-right {
    width: 50%;
}

.hero-content-left {
    display: flex;
    padding-right: 80px;
    padding-top: 10px;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.hero-content-right {
    background-color: #e4e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero-content-right * {
    display: inline-block;
    vertical-align: middle;
}

/******************************************
/* SOME RANDOM SECTION 
/*******************************************/

.some-random-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: center;    
}

.some-random-card-img {
    width: 20=0px;
    height: 200px;
    border: 5px solid #1958b1;
    border-radius: 15px;
    margin-bottom: 10px;
}

.some-random-cards-wrapper {
    display: flex;
    justify-content: center;
    gap: 25px;

}

.some-random-cards {
    width: 200px;
}

/******************************************
/* QUOTE SECTION 
/*******************************************/

.quote-section {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
}

blockquote {
    width: 900px;
    margin: 0 auto;
}

.quote-source-text {
    width: 900px;
    display: block;
    margin: 0 auto;
    text-align: end;
}
/******************************************
/* CTA SECTION SECTION 
/*******************************************/


.cta-section {
    
}

.cta-wrapper {
    background-color: #3b81f6;
    border-radius: 15px;
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
}

.btn-cta {
    border: white 2px solid;
}

/******************************************
/* FOOTER
/*******************************************/

footer {
    background-color: #1F2937;
    text-align: center;

}




/******************************************
/* UTILITY CLASSES 
/*******************************************/

.container {
    max-width: 1100px;
    margin: 0 auto;
}





/******************************************
/* BORDERS
/*******************************************/

.hero-section *  {
    /* border: solid 2px black; */
}